* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.loader-body {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.loader {
    position: relative;
    width: 250px;
    height: 250px;
    border-top: 5px solid #03fcfc;
    border-radius: 100%;
    animation: spin 2s linear infinite;
}

.loader::before {
    position: absolute;
    content: "";
    height: inherit;
    width: inherit;
    border-bottom: 5px solid #f303fc;
    border-radius: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.profile-img {
    position: absolute;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}